.header {
  min-height: 80px;
}

.header select {
  min-width: 30%;
}

.header input {
  min-width: 30%;
}

.hambuger {
  position: absolute;
  right: 10px;
  top: 10px;
}

.button-next {
  margin-top: 20px;
}
.map-wrapper {
  width: 70%;
}
#map {
  width: 100%;
  height: 0;
  padding-top: 56.25%
}